---
- name: Install latest sshd from backports
  become: yes
  apt:
    name:
      - openssh-server
      - openssh-client
      - openssh-sftp-server
    state: latest
    update_cache: yes
    cache_valid_time: "{{ apt_cache_valid_time | default(86400) }}"

- name: Set sshd config
  become: yes
  template:
    src: sshd_config
    dest: /etc/ssh/sshd_config
  notify:
    - Restart sshd
